body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 90vh;
  align-items: center;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.container {
  margin: auto;
  width: 88.5%;
  padding: 2.5rem 2rem;
}

.container .btnTab {
  background-color: #103472;
  color: #fff;
  border: 1px solid #b9b9b9;
  border-bottom: 0;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.2px;
}

.container .btnTab.active {
  background-color: #fff;
  color: #103472;
  padding-top: 1.5rem;
  margin-right: 0.25rem;
  position: relative;
  top: 0.1rem;
}

.container .btnTab.active.donateOnceActive {
  margin-left: 0.25rem;
}

.donationCard {
  border: 1px solid #b9b9b9;
  box-shadow: -1px 1px 14px -2px rgba(0, 0, 0, 0.5);
}

.donationCard #main {
  padding: 2.5rem;
}

#main .donationAmountGroup {
  margin: 1.25rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#main .caption {
  background-color: #face9d;
  padding: 1.75rem 1.5rem;
  margin-top: 1.5rem;
  font-size: 18px;
}

.donationAmountGroup .btnAmount,
.donationAmountGroup .customAmount,
.donationAmountGroup .btnDonate {
  padding: 0.9rem 2.75rem;
  font-weight: bold;
  font-size: 18px;
}

.donationAmountGroup .customAmount {
  width: 13%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.donationAmountGroup .btnAmount,
.donationAmountGroup .btnDonate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.donationAmountGroup .btnAmount .amountText {
  margin-right: 5px;
}

.btnDonate span {
  margin-right: 10px;
}

.donationAmountGroup .btnAmount.active {
  background-color: #339aa0;
  border: 2px solid #339aa0;
  color: #fff;
  padding: 0.9rem 2rem;
}

.donationAmountGroup .btnDonate {
  background-color: #f49223;
  border: 1px solid #f49223;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"]::placeholder {
  color: #000;
  font-size: 16px;
}

.donationCard #footer {
  background-color: #eaedf4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}
#footer p {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

#footer span {
  font-size: 13px;
  color: #7b7c80;
  font-weight: 600;
  margin: 1.5rem;
}

#footer img {
  margin-right: 1.5rem;
}

#footer .directDebitCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: auto;
    text-align: center;
  }

  button {
    color: #000;
  }

  .container .tabGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container .btnTab {
    font-size: 15px;
    width: calc(50% - 0.25rem);
    text-align: center;
    padding: 1rem 1.25rem;
  }

  .container .btnTab.active {
    margin-right: 0;
    position: relative;
    top: 0.2rem;
    margin-bottom: 1px;
  }

  .donationCard #main {
    padding: 1.5rem;
  }

  #main div:nth-of-type(1),
  .donationCard #footer p {
    font-size: 16px;
  }

  #main .caption {
    padding: 1.5rem 1rem;
    margin-top: 0.5rem;
    font-size: 14px;
  }

  .donationAmountGroup {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .donationAmountGroup .btnAmount,
  .donationAmountGroup .customAmount,
  .donationAmountGroup .btnDonate {
    width: 100%;
  }

  .donationAmountGroup .btnAmount {
    flex: 25%;
  }

  .donationAmountGroup .btnAmount.active {
    padding: 0.9rem 2.5rem;
  }

  .donationAmountGroup .customAmount {
    padding: 0.8rem;
    font-size: 16px;
    margin-left: 2px;
  }

  .donationCard #footer {
    flex-direction: column-reverse;
    align-items: center;
    padding: 1.5rem 1rem;
  }

  .donationCard #footer span {
    font-size: 13px;
    width: 80%;
    margin: 0;
    margin-top: 1rem;
  }

  .donationCard #footer p {
    margin-bottom: 0.5rem;
    font-size: 16px;
    margin-top: 1.75rem;
  }

  #footer .directDebitCard {
    flex-direction: column-reverse;
  }

  #footer .visaGroup {
    display: flex;
    align-items: center;
  }
}
